<h2>Welcome to Rock Paper Scissors!</h2>

<form action = "/game" method = post>
  <input type = "text" name = "Player" placeholder="Enter Name">
  <input type = "submit" value = "Start game!">
</form>
